{
  "tabWidth": 3,
  "singleQuote": true,
  "importOrder": [
    "^shared/(.*)$",
    "^widgets/(.*)$",
    "^entities/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all",
  "printWidth": 120
}