{
  "tabWidth": 3,
  "singleQuote": true,
  "importOrder": [
    "^@/shared/(.*)$",
    "^@/entities/(.*)$",
    "^@/features/(.*)$",
    "^@/widgets/(.*)$",
    "^@/pages/(.*)$",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all",
  "printWidth": 100
}