.app_dark_theme {
   --bg-color: #f4f5fa;
   --inverted-bg-color: #343951;
   --primary-color: #ffa000;
   --secondary-color: #343951;
   --inverted-primary-color: #fff;
   --inverted-secondary-color: #343951;

   // Skeleton
   --skeleton-color: #343951;
   --skeleton-shadow: #ffa000;

   // Code
   --code-bg: #0f0f0f;

   // Card
   --card-bg: #9d9d9d;
}
