.app_orange_theme {
   --bg-color: #faf4fb;
   --inverted-bg-color: #dd8720;
   --primary-color: #000;
   --secondary-color: #000;
   --inverted-primary-color: #fff;
   --inverted-secondary-color: #fefecf;

   // Skeleton
   --skeleton-color: #fff;
   --skeleton-shadow: rgba(0 0 0 / 20%);

   // Code
   --code-bg: #fff;

   // Card
   --card-bg: #dd8720;

   // ListBox
   --listbox-bg: #dd8720;
}
