.trigger {
   background: none;
   border: none;
   outline: none;
   padding: 0;
   margin: 0;
}

.options {
   padding: 3px 0;
   background-color: var(--listbox-bg);
   border: 1px solid var(--primary-color);
   position: absolute;
   z-index: 10000;
   border-radius: 6px;
   min-width: 100%;
}

.item {
   padding: 5px 10px;
   cursor: pointer;
}

.selected {
   background-color: var(--inverted-primary-color);
}
